<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ifind.dao.BillDao">

    <resultMap id="rm" type="com.ifind.entity.Bill">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="bill_no" property="billNo" jdbcType="VARCHAR" />
        <result column="bank" property="bank" jdbcType="VARCHAR" />
        <result column="wighted_average_yield" property="wightedAverageYield" jdbcType="DECIMAL" />
        <result column="face_bill_amt" property="faceBillAmt" jdbcType="DECIMAL" />
        <result column="repair_date" property="repairDate" jdbcType="VARCHAR" />
    </resultMap>

    <!--使用sql片段-->
    <sql id="BASE_COLUMN_LIST">
        id,
       bill_no,
       bank,
       wighted_average_yield,
       face_bill_amt,
       repair_date
    </sql>

    <select id="getBillList" resultMap="rm">
        SELECT
            id, bill_no, bank, wighted_average_yield, face_bill_amt, repair_date
        FROM
            bill_list
    </select>

</mapper>

