<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ifind.dao.ArticleDao">
    <resultMap id="rm" type="com.ifind.entity.Article">
        <id property="id" javaType="INTEGER" column="id" />
        <result property="articleTitle" javaType="String" column="article_title" />
        <result property="articleAuthor" javaType="String" column="article_author" />
        <result property="articleReference" javaType="String" column="article_reference" />
        <result property="articleReadNum" javaType="String" column="article_read_num" />
        <result property="articleLike" javaType="String" column="article_like" />
    </resultMap>

    <select id="findAll" resultMap="rm">
        SELECT
            id,
            article_title,
            article_author,
            article_pub,
            article_reference,
            article_read_num,
            article_like
        FROM
            t_article
    </select>

    <select id="findByPage" resultMap="rm" parameterType="java.lang.Integer">
        SELECT
            id,
            article_title,
            article_author,
            article_pub,
            article_reference,
            article_read_num,
            article_like
        FROM
            t_article
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="findCount" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            t_article
    </select>



</mapper>